.panel-body {
	color: #000;
}
.remove {
	float: right;
}
.article-description textarea {
	width: 100%;
}
.article_price {
	color: #000;
}
.commande-closing-items {
}
.commandeExpander, .remove-commande {
	cursor: pointer;
}

#side_command_group {
	display: inherit;
}
.float-me {
	float: right;
}
.float-me .commandeExpander {
	padding: 0 10px;
}

#commande-form {
	color: #000;
}

.panel-title .glyphicon {
	margin: 0 10px;
}