/*----------------------------------------------------------------------*/
/*                          FINALES POOLS CSS                           */
/*----------------------------------------------------------------------*/



.label
{
    color: black;
}




#my-table
{
    border: 1px solid black;
    background-color: black;
}

#my-thead
{
    background-color: red;
}

#my-tbody
{
    background-color: green;
}

.my-table-pool
{
    border: 1px solid black;
}

.my-tbody-pool
{
    background-color: blue;
}

.my-tr-finale
{
    
}

.my-td-finale
{
    background-color: gray;
}

.my-tr-petite-finale
{
    
}

.my-td-petite-finale
{
    background-color: black;
}

.my-td-number
{
    background-color: orange;
}

.my-td-team-1
{
    background-color: white;
    color: black;
}
.my-td-team-1
{
    background-color: gray;
    color: black;
}

.my-td-score
{
    background-color: yellow;
    color: black;
}

.my-td-arrow
{
    color: red;
}

/*##########################
#### LES POOLS       ###
############################*/

.table_pool_lol{
border:0px solid #000000;


}

.th_titre_pool_lol{
background-color:#000000;
font-size:18px;
padding:5px;
}

.td_vide_pool_lol{
background-color:#000000;
width:150px;
}

.th_team2_pool_lol{
background-color:#000000;
font-size:12px;
width:100px;

}

.th_score_pool_lol{
background-color:#000000;
font-size:14px;
width:100px;
}

.tr_pool_lol{
text-align:center;
}

.th_team_pool_lol{
background-color:#000000;
font-size:16px;
text-align:left;

}

.td_pool_lol{
}

.td_win_pool_lol{
background-color:#449944;
}

.td_same_pool_lol{
background-color:#444444;
}

.td_loose_pool_lol{
background-color:#990000;
}

.td_X_pool_lol{
background-color:#000000;
}

.td_score_pool_lol{
background-color:#666666;
font-size:16px;
font-weight:bold;
}


/* POOL TM*/
.table_pool_tm{
border:0px solid #666666;
}

.titre_pool_tm{
background-color:#444444;
font-size:14px;
padding:5px;
}

.th_part_pool_tm{
background-color:#666666;
font-size:12px;
padding:5px;
}

.th_manche_pool_tm{
background-color:#666666;
font-size:12px;
padding:5px;
}

.th_points_pool_tm{
background-color:#666666;
font-size:12px;
padding:5px;
}

.td_pseudo_pool_tm{
background-color:#444444;
font-size:12px;
text-align:left;
padding:5px;
}

.td_score_pool_tm{
background-color:#444444;
text-align:center;
font-size:12px;
}

.td_total_pool_tm{
background-color:#666666;
text-align:center;
font-size:16px;
font-weight:bold;
}

/*****************************
ARBRE
******************************/

.tr_arbre_vide{
height:15px;
}
.td_arbre_vide{
height:15px;
/*width:200px;*/
}
.td_arbre_team1{
background-color:#666666;
font-size:14px;
padding:2px;
}
.td_arbre_team2{
background-color:#444444;
font-size:14px;
padding:2px;
}
.td_arbre_teamwin{
background-color:#449944;
font-size:14px;
padding:2px;
font-weight:bold;
}
.td_arbre_joueur{
background-color:#444444;
font-size:14px;
padding:2px;
}
.td_arbre_score1{
background-color:#666666;
width:40px;
text-align:center;
font-size:14px;
}
.td_arbre_score2{
background-color:#444444;
width:40px;
text-align:center;
font-size:14px;
}
.td_arbre_joueur_score{
background-color:#444444;
width:40px;
text-align:center;
font-size:14px;
}
.td_arbre_joueur_total{
background-color:#666666;
width:40px;
text-align:center;
font-size:14px;
font-weight:bold;
}
.td_arbre_scorewin{
background-color:#449944;
width:40px;
text-align:center;
font-size:14px;
font-weight:bold;
}
.td_arbre_gauche{
width:10px;
}
.td_arbre_droite{
width:30px;
}
.td_finale_vide{
text-align:center;
font-size:14px;
color:#9999FF;
}
.th_arbre_joueur{
font-size:12px;
background-color:#666666;
}
