/*----------------------------------------------------------------------*/
/*                              HEADER CSS                              */
/*----------------------------------------------------------------------*/
#header 
{
    display: block;
    padding-bottom: 10px;
    background-color: #000000;
    height: 100px;
}
#logo 
{
    padding-left: 40px;
}
#login 
{
    padding-top: 10px;
    float: right;
}

