/*----------------------------------------------------------------------*/
/*                      NAVIGATION CSS                                  */
/*----------------------------------------------------------------------*/
#navigation 
{
    background: transparent url("../img/bg_menu.png") repeat-x top left;
    background-size: auto 100%;
    padding-bottom: 4px;
}
#navigation li 
{
    list-style: none;
    background-color: #0076a3;
    border: 2px solid #353535;
    border-radius: 3px;
    margin: 0;
    padding: 0px;
}
#navigation li a 
{
    line-height: 50px;
    width: auto;
    text-decoration: none;
    color: #DDD;
    text-transform: uppercase;
    font-family: Calibri, Arial, Times, serif;
    font-weight: bold;
    padding: 0 25px;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #353535;
}
#navigation li a:hover,
#navigation li a.active 
{
    color: #fff;
    background: transparent url("../img/nav_hover.png") top center repeat-x;
}
.navbar
{
    margin-bottom: 0;
}


