.popover
{
	z-index: 1200;
	margin-left: -2px;
}

/**********************************
			NOTIFICATIONS
				STYLE
***********************************/
#notifPane
{
	width: 250px;
    z-index: 999;
    max-height: 200px;
    overflow-y: scroll;
}
#notifBox
{
	width: 100%;
}
.notifWidget
{
	
}
.notif-head
{
	width: 100%;
}
.notif-head i
{
	float: left;
}
.notifDate
{
	float: right;
}
.notif-not-seen
{
	background-color: red;
}
