/**********************************
			NOTIFICATIONS
				STYLE
***********************************/
#notifPane
{
}
#notifBox
{
	width: 100%;
}
.notifWidget
{
	
}
.notif-head
{
	width: 100%;
}
.notif-not-seen
{
	background-color: red;
}