//----------------------------------------------------------------------//
//                                                                      //
//                      DEFAULT - PROFILE CSS                        	//						
//                                                                      //
//----------------------------------------------------------------------//


label
{
    color: black;
}

form textarea
{
    resize: none;
}

#bloc_tab
{
    margin-top: 50px;
}

.my-tab-content
{
    margin-top: 25px;
}



