/*----------------------------------------------------------------------*/
/*						GENERAL											*/
/*----------------------------------------------------------------------*/
body
{
    background: url("../img/bgAdmin.jpg");
    background-color: #000;
    font-size: 12px;
    font-family: Calibri, Arial, Times, serif;  
    color: #ffffff;
}
a,
a:visited,
a:focus,
a:active
{
    text-decoration: none;
    color: #ff9900;
    font-weight: bold;  
}
a:hover
{
    color: #ff5500;
}
img 
{
    border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #D1D1D1;
}

input
{
    background-color: #000;
    color: #fff;
    margin: 0 5px;
    border: 1px solid #353535;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 14px;
    font-family: Calibri, Arial, Times;
}

/*----------------------------------------------------------------------*/
/*						HEADER											*/
/*----------------------------------------------------------------------*/
#header 
{
    display: block;
    padding-bottom: 10px;
    background-color:#000000;
    height: 100px;
}
#logo 
{
    padding-left: 40px;
}
#login 
{
    padding-top: 10px;
    float: right;
}


/*----------------------------------------------------------------------*/
/*						NAVIGATION										*/
/*----------------------------------------------------------------------*/
#navigation 
{
    background: transparent url("../img/bg_menu.png") repeat-x top left;
}
#navigation  li 
{
    list-style: none;
}
#navigation  li a 
{
    line-height: 50px;
    width: auto;
    text-decoration: none;
    color: #DDD;
    text-transform: uppercase;
    font-family: Calibri, Arial, Times, serif;
    font-weight: bold;
    padding: 0 25px;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #353535;
}
#navigation  li a:hover,
#navigation  li a.active 
{
    color: #fff;
    background: transparent url("../img/nav_hover.png") top center repeat-x;
}


/*----------------------------------------------------------------------*/
/*						NEWS											*/
/*----------------------------------------------------------------------*/
#container #bloc_news .une_news 
{
    padding: 5px;
    background-color: #111111;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #353535;
    border-radius: 3px;
}
#container #bloc_news .titre_news 
{
    padding: 10px;
    background-color: #000000;
    margin-bottom: 5px;
    overflow-x: hidden;
    font-size: 14px;
    cursor: pointer;
    color: #D1D1D1;
}
#container #bloc_news .titre_news:hover
{
    color: #ff9900;
}
#container #bloc_news .contenu_news
{
    padding-bottom: 10px;
    padding-left: 15px;
    overflow-x: hidden;
    font-size: 13px;
    display: none;
}
#container #bloc_news .date_news
{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    color: #999999;
}



/*----------------------------------------------------------------------*/
/*						CHAT											*/
/*----------------------------------------------------------------------*/
#bloc_chat
{
    overflow: hidden;
    padding: 0 15px;
}
#bloc_connexion
{
    padding: 5px;
    background-color: #111111;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #353535;
    border-radius: 3px;
}
#bloc_connexion_form
{
    background-color: #000000;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    overflow-x: hidden;
    padding: 10px;
}
#bloc_connexion_table
{
    width: 100%;
}
#bloc_chat_box
{
    background-color: #111111;
    border: 1px solid #353535;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}
#bloc_chat_texte
{
    height: 550px;
    width: 74%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #353535;
    border-radius: 3px;
}
#container #bloc_chat #bloc_chat_texte .chatqui
{
    font-size: 12px;
    color: #AAA;
}
#container #bloc_chat #bloc_chat_users
{
    height: 550px;
    width: 24%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    padding: 5px;
    color: #AAAAAA;
    border: 1px solid #353535;
    border-radius: 3px;
}
#container #bloc_chat #bloc_chat_users strong
{
    color: #FFFFFF;
}
#container #bloc_chat #bloc_chat_send
{
    position: relative;
    clear: both;
    width: 98%;
    height: 10%;
    padding: 10px 0;
}
#container #bloc_chat #bloc_chat_send #bloc_chat_message 
{
    width: 75%;
    background-color: #000;
    color: #fff;
    border: 1px solid #353535;
    border-radius: 3px;
}

#bloc_chat_bouton
{
    background-color: #000;
    color: #fff;
    margin: 0 5px;
    border: 1px solid #353535;
    border-radius: 3px;
    padding: 0 15px;
}
::-webkit-scrollbar
{
    color: #fff;
    background-color: #000;
    border: 1px solid #353535;
    border-radius: 3px;
}

::-webkit-scrollbar-track
{
    background-color: #000;
}

#liste_joueur::-webkit-scrollbar {
    width: 12px;
}
#liste_joueur::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#liste_joueur::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#liste_joueur::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*----------------------------------------------------------------------*/
/*						PLAYERS											*/
/*----------------------------------------------------------------------*/
a:hover
{
    text-decoration: underline;
    color: green;
    cursor:pointer;
}   
a.ClassPseudo
{
    display: block;
}
a.ClassEquipe
{
    display: block;
}
.map_cafetaria
{
    position: relative; 
    font-size: 8pt;
    border-width: 1px;
    border-style: solid;
}
.photo_cafetaria
{
    width: 100%;
    height: 100%;
}
.tooltip
{
    position: relative;
    background-color: initial;
    cursor: help;
    display: block;
    text-decoration: none;
    color: #222;
    outline: none;
    font-size: medium;
    z-index: 1300;  
}
.tooltip span
{
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1200;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
}
.tooltip:hover
{
    border: 0; /* IE6 fix */
}
.tooltip:hover span
{
    visibility: visible;
    background-color:#23527c;
    color: #fff;  
}
.tooltip span:before,
.tooltip span:after
{
    position: absolute;
    z-index: 1100;
    bottom: 0px;
    left: 50%;
    margin-left: 8px;
    border-top: 8px solid #ddd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
}
.tooltip span:after
{
    content: "";
}
.tooltip span:before
{
    border-top-color: #ccc;
    bottom: -8px;
}
#liste_joueur,
#liste_equipe
{
    overflow: auto;
    height: 550px;
}
#liste_joueur li,
#liste_equipe li
{
    display: block;
}
#liste_joueur li:before,
#liste_equipe li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
#liste_joueur li:hover
{
    color: orange;
}
#liste_joueur li a:hover
{
    text-decoration: none;
    color: orange;
    cursor: pointer;
}
#liste_equipe
{
    overflow: auto;
    height: 550px;
}
#liste_equipe li:hover
{
    color: orange;
    cursor: pointer;
}
#liste_equipe li a:hover
{
    text-decoration: none;
    color: orange;
    cursor: pointer;
}



/*----------------------------------------------------------------------*/
/*						TOURNAMENTS										*/
/*----------------------------------------------------------------------*/
.table_pool_row
{
    margin-bottom: 30px;
}

/*----------- POOLS ------------*/
.table_pool
{
    border: 2px solid #000000;
}
.th_title_pool
{
    border: 1px solid #000000;
    background-color: #090C14;
    font-size: 18px;
    padding-left: 5px;
    color: #E4D9D3;
}
.td_empty_pool
{
    border: 1px solid #000000;
    background-color: none;
    width: 75px;
}
.th_team_pool
{
    border: 1px solid #000000;
    background-color: #1B2232;
    font-size: 14px;
    padding-left: 5px;
    color: #E4D9D3;
}
.th_team2_pool
{
    border: 1px solid #000000;
    background-color: #1B2232;
    font-size: 14px;
    padding-left: 5px;
    width: 300px;
    color: #E4D9D3;
}
.th_score_pool
{
    border: 1px solid #000000;
    background-color: #090C14;
    font-size: 14px;
    width: 100px;
}
.tr_pool
{
    border: 1px solid #000000;
    text-align: center;
}
.td_pool
{
    border: 1px solid #000000;
}
.td_win_pool
{
    border: 1px solid #000000;
    background-color: #71DA71;
}
.td_same_pool
{
    border: 1px solid #000000;
    background-color: #444444;
    color: black;
}
.td_loose_pool
{
    border: 1px solid #000000;
    background-color: #E6474B;
}
.td_x_pool
{
    border: 1px solid #000000;
    background-color: #FFE383;
}
.td_score_pool
{
    border: 1px solid #000000;
    background-color: #E88147;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/*----------- ROUNDS ------------*/
.table_round
{
    border: 2px solid #000000;
}
.title_round
{	
    border: 1px solid #000000;
    background-color: #090C14;
    font-size: 18px;
    padding-left: 5px;
    color: #E4D9D3;
}
.th_empty_round
{
    border: 1px solid #000000;
    background-color: none;
    width: 75px;
}
.th_manche_round
{
    border: 1px solid #000000;
    background-color: #1B2232;
    font-size: 14px;
    padding-left: 5px;
    width: 300px;
    color: #E4D9D3;
}
.th_points_round
{
    border: 1px solid #000000;
    background-color: #1B2232;
    font-size: 14px;
    padding-left: 5px;
    width: 300px;
    color: #E4D9D3;
}
.td_pseudo_round
{
    border: 1px solid #000000;
    background-color: #1B2232;
    font-size: 14px;
    padding-left: 5px;
    width: 300px;
    color: #E4D9D3;
}
.td_score_round
{
    border: 1px solid #000000;
    background-color: #444444;
    text-align: center;
    font-size: 14px;
    color: black;
}
.td_total_round
{
    border: 1px solid #000000;
    background-color: #E88147;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
}




/*----------- Trees ------------*/
.tr_arbre_vide
{
    height:15px;
}
.td_arbre_vide
{
    height:15px;
    /*width:200px;*/
}
.td_arbre_team1
{
    background-color:#666666;
    font-size:14px;
    padding:2px;
}
.td_arbre_team2
{
    background-color:#444444;
    font-size:14px;
    padding:2px;
}
.td_arbre_teamwin
{
    background-color:#449944;
    font-size:14px;
    padding:2px;
    font-weight:bold;
}
.td_arbre_joueur
{
    background-color:#444444;
    font-size:14px;
    padding:2px;
}
.td_arbre_score1
{
    background-color:#666666;
    width:40px;
    text-align:center;
    font-size:14px;
}
.td_arbre_score2
{
    background-color:#444444;
    width:40px;
    text-align:center;
    font-size:14px;
}
.td_arbre_joueur_score
{
    background-color:#444444;
    width:40px;
    text-align:center;
    font-size:14px;
}
.td_arbre_joueur_total
{
    background-color:#666666;
    width:40px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}
.td_arbre_scorewin
{
    background-color:#449944;
    width:40px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}
.td_arbre_gauche
{
    width:10px;
}
.td_arbre_droite
{
    width:30px;
}
.td_finale_vide
{
    text-align:center;
    font-size:14px;
    color:#9999FF;
}
.th_arbre_joueur
{
    font-size:12px;
    background-color:#666666;
}


/*----------------------------------------------------------------------*/
/*						FOOTER											*/
/*----------------------------------------------------------------------*/
#footer 
{
    margin-top: 50px;
    border-top: 8px solid #151515;
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
}
#footer #copyright 
{
    text-align: center;
    margin-bottom: 5px;
}
#footer #copyright p 
{
    padding-top: 30px;
}
#footer #ceheh 
{
    text-align: center;
    margin-bottom: 5px;
}
#footer #ceheh img 
{
    vertical-align: middle;
}
#footer #campus_technique 
{
    text-align: center;
    margin-bottom: 5px;
}
#footer #campus_technique img 
{
    margin-top: 5px;
}



/*----------------------------------------------------------------------*/
/*						ADMIN											*/
/*----------------------------------------------------------------------*/
#adm_tablo
{
    border:1px solid white;
}
#adm_tablo tr
{
    /*border:1px solid white;*/
}
#adm_tablo td
{
    border:1px solid #999999;
    text-align:center;
}
#adm_tablo th
{
    border:1px solid #9999FF;
}
#shadowing
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index:80;
    opacity:0.5;
    filter: alpha(opacity=50);
}
.popup_centree
{
    visibility:hidden;
    background-color:#000000;
    position:fixed;
    left: 50%;
    top: 50%; 
    z-index: 100;
    border: 4px solid #888888;
    padding: 20px 20px 20px 20px;
    overflow:auto;
}
/*--Gï¿½rer la position fixed pour IE6--*/
*html .popup_centree
{
    position: absolute;
}
