/*----------------------------------------------------------------------*/
/*                          TOURNOIS POOL CSS                           */
/*----------------------------------------------------------------------*/


input
{
    color: black;
}

.label
{
    color: black;
}

header
{
    color: black;
}

colgroup > col
{
    background-color: gray;
}

.roundsHeader
{
    color: #0076a3;
}

#components
{
    margin-bottom: 50px;
}


tr:nth-child(2) {
    background: green;
}


/*----------------------------------------------------------------------*/
/*                      TOURNOIS POOL OLD CSS                           */
/*----------------------------------------------------------------------*/



.table_pool_row
{
    margin-bottom: 30px;
}
.table_pool
{
}
.th_title_pool
{
    padding-left: 5px;
    color: #E4D9D3;
}
.td_empty_pool
{
    border: 1px solid white;
    background-color: none;
    width: 75px;
}
.th_team_pool
{
    border-top: 1px solid white;
    background-color: gray;
    padding-left: 5px;
}
.th_team2_pool
{
    border: 1px solid white;
    background-color: gray;
    padding-left: 5px;
    width: 300px;
}
/* no more display of scores */
/*
.th_score_pool
{
    border: 1px solid #000000;
    background-color: #090C14;
    font-size: 14px;
    width: 100px;
}*/
.tr_pool
{
    border: 1px solid white;
    text-align: center;
}
.td_pool
{
    border: 1px solid white;
}
.td_win_pool
{
    border: 1px solid white;
    background-color: #71DA71;

}
.td_same_pool
{
    border: 1px solid white;
    background-color: lightgray;
    color: black;
}
.td_loose_pool
{
    border: 1px solid white;
    background-color: #E6474B;
}
.td_x_pool
{
    border: 1px solid white;
    background-color: white;
}
/* no more used */
/*
.td_score_pool
{
    border: 1px solid #000000;
    background-color: #E88147;
    font-size: 16px;
    font-weight: bold;
    color: black;
}*/





