.panel-body {
	color: #000;
}
.remove {
	float: right;
}
.article-description textarea {
	width: 100%;
}
.article_price {
	color: #000;
}
.commande-closing-items {
}


#side_command_group {
}
.float-me {
	float: right;
}
