/*----------------------------------------------------------------------*/
/*                          FINALES POOLS CSS                           */
/*----------------------------------------------------------------------*/



.label
{
    color: black;
}

textarea
{
    color: black;
    height: 500px;
}

